<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">CadastralManagementSystem</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="nav flex-column">
        <nav class="nav flex-column">
            <a class="nav-link" href="/">Главная</a>
            <a class="nav-link" href="/guest">Гость</a>
            <a class="nav-link" href="/admin">Администратор</a>
        </nav>
    </nav>
</div>

